.animated-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #f0f0f0;
    margin: 0;
}

.animated-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(45deg, #007BFF, #00BFFF);
    text-decoration: none;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-position 0.3s ease;
    position: relative;
    overflow: hidden;
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

.animated-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 10%, transparent 10.01%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

.animated-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.animated-button:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 25px rgba(0, 123, 255, 0.6);
    background-position: right center;
}

@keyframes gradientAnimation {
    0% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}

h1 {
    padding: 10px 20px;
    font-size: 1em;
    color: black;
    background: none;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
}

.discord {
    text-align: center;
}

.discord-button {
    display: inline-flex;
    align-items: center;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.discord-button:hover {
    background-color: #5a6ebc;
    transform: translateY(-5px);
}

.discord-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact h1 {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
}

.payment-button {
    padding: 10px 20px;
    background-color: #0070ba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout {
    position: top;
  }
  
  .logout-button {
    position: absolute;
    top: 10px; /* Odległość od górnej krawędzi */
    right: 20px; /* Odległość od prawej krawędzi */
    background-color: #ff4c4c;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .logout-button:hover {
    background-color: #e63939;
    border-color: #fff;
  }